@font-face {
  font-family: Avenir;
  src: url("/public/assets/fonts/Metropolis-Regular.otf");
}

@font-face {
  font-family: Avenir-Bold;
  src: url("/public/assets/fonts/Metropolis-ExtraBold.otf");
}

@font-face {
  font-family: Avenir-Light;
  src: url("/public/assets/fonts/Metropolis-ExtraLight.otf");
}

@font-face {
  font-family: Product;
  src: url("/public/assets/fonts/Product\ Sans\ Regular.ttf");
}

@font-face {
  font-family: Product-Bold;
  src: url("/public/assets/fonts/Product\ Sans\ Bold.ttf");
}

body {
  margin: 0;
  padding: 20px 50px;
  font-family: Avenir;
  letter-spacing: 1px;
  background-color: black !important;
}

/*Styling Navbar*/

.btn-login {
  border: none;
  outline: none;
  color: #E8E8E8;
  font-weight: 700;
  margin-right: 25px;
  background-color: transparent;
}

.btn-register {
  border: none;
  outline: none;
  color: #E8E8E8;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #CD2E71;
}

.dropdown-toggle-profile img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: #CD2E71 3px solid;
}

.dropdown-menu-profile {
  width: 300px;
  top: 50px !important;
  padding: 15px 0px !important;
  border-radius: 8px !important;
  background-color: #0D0D0D !important;
}

.dropdown-item-profile {
  line-height: 70px;
}

.dropdown-item span {
  font-size: 22px;
  font-weight: 800;
  margin-left: 15px;
}
/* additional triangle */
.triangle {
  width: 0;
	height: 0;
  top: -40px;
  right: 18px;
  position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 40px solid #0D0D0D;
}

/* Horizontal line */
hr {
  left: 0;
  width: 100%;
  opacity: 0.7;
  border: 2px solid #A8A8A8;
}

/*End of styling Navbar*/

/* Styling Index Page */
.hero-film-image {
  display: flex;
  margin-top: 30px;
  position: relative;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.hero-film-image img {
  width: 1100px;
  border-radius: 8px;
}

.hero-film-detail {
  top: 10%;
  left: 10%;
  width: 800px;
  position: absolute;
}

.hero-film-title span{
  display: block;
}

.hero-film-first-title {
  font-size: 38px;
  color: #A52620;
  font-weight: bolder;
  font-family: Avenir-Bold;
}

.hero-film-second-title {
  color: #fff;
  font-size: 38px;
  font-weight: 900;
  font-family: Avenir-Bold;
}

.hero-film-genre {
  font-weight: 600;
  color: #FFFFFF;
  margin-top: 25px;
}

.hero-film-price {
  color: #CD2E71;
  font-weight: 600;
  font-family: Product;
  margin: 13px 0;
}

.hero-film-desc {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 22px;
  opacity: 0.8;
  font-weight: lighter;
  font-family: Avenir-Light;
}

.btn-buy {
  border: none;
  outline: none;
  color: #FFFFFF;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #CD2E71;
}

/* Styling List Film Group */
.list-film-group {
  margin-top: 80px;
  margin-bottom: 40px;
}

.list-film-group h4 {
  margin: 25px 0;
  font-weight: 600;
  color: #FFFFFF;
}

.list-film {
  width: 96%;
  margin: 0 auto;
  display: flex;
  overflow-x: auto;
}

.list-film-img-wrapper {
  margin: 0 8px;
  border-radius: 5px;
}

.list-film-img-wrapper img {
  width: 180px;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

/* End of Styling Index Page */

/*Styling Login & Register Modal*/
.modal-dialog{
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 420px;
  border-radius: 8px;
  background-color: #0D0D0D;
}

.modal-body {
  padding: 50px 30px;
}

.add-film-form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.form h2 {
  font-family: Product-Bold;
  margin-bottom: 30px;
  color: #CD2E71;
  font-weight: bolder;
}

.form-control {
  padding: 10px;
  margin-bottom: 20px;
  background: #D2D2D240;
  border: 2px solid #BCBCBC;
}

.form-group {
  display: flex;
  justify-content: flex-end;
}

.form h2.add-film-title {
  color: #fff;
  margin-bottom: 50px;
}

.input-title {
  width: 79%;
}

.input-file-label {
  width: 20%;
  margin-left: auto;
  color: #b1b1b1;
}

.input-file-label img {
  margin-left: 25px;
  width: 15px;
}

.input-file::-webkit-file-upload-button {
  visibility: none;
}

input[type="file"] {
  display: none;
}

.btn-form {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  color: #FFFFFF;
  border-radius: 5px;
  letter-spacing: 1px;
  margin: 20px 0;
  font-family: Product-Bold;
  background-color: #CD2E71;
}

.btn-add-film {
  margin-left: auto;
  border: none;
  outline: none;
  right: 0;
  padding: 10px 80px;
  font-size: 18px;
  color: #FFFFFF;
  border-radius: 5px;
  letter-spacing: 1px;
  margin: 20px 0;
  font-family: Product-Bold;
  background-color: #CD2E71
}

.form p {
  margin: 0 auto;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: lighter;
  font-family: Product;
}

.p-login {
  width: 86%;
}

.p-register {
  width: 92%;
}

.btn-here {
  border: none;
  outline: none;
  color: #FFFFFF;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-family: Product;
  background-color: transparent;
}

/*End of Styling Login & Register Modal*/

/* Styling My List Film */

.my-list-film {
  margin-top: 50px;
}

.my-list-film h2{
  margin: 40px 100px;
  color: #FFFFFF;
  font-weight: 700;
  font-family: Product;
}

.my-list-film-img-group {
  display: flex;
  flex-wrap: wrap;
}

.my-list-film-img {
  margin: 12px;
  width: 180px;
  height: 250px;
  border-radius: 5px;
}

.my-list-film img {
  width: 180px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  object-position: center;
}

/* End of Styling My List Film */

/* Styling Profile Page */
.profile {
  width: 84%;
  display: flex;
  margin: 50px auto;
}

.profile-left h3, .profile-right h3 {
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 30px;
  font-family: Product;
}

.profile-data {
  display: flex;
}

.profile-data-img, .profile-data-img img {
  width: 180px;
  height: 222px;
  margin-right: 28px;
}

.profile-data-img img{
  object-fit: cover;
  object-position: center;
}

.profile-data-user-group {
  margin-bottom: 27px;
}

.profile-data-user-group h6{
  color:#CD2E71;
  font-weight: 700;
  font-family: Product;
}

.profile-data-user-group p {
  color: #616161;
}

/* Styling transaction */
.profile-right {
  width: 50%;
  margin-left: auto;
}

.transaction-film {
  color: #FFFFFF;
  font-weight: 900;
}

.transaction-detail {
  position: relative;
  padding: 14px 16px;
  margin-bottom: 15px;
  background: #CD2E7170;
}

.transaction-date {
  color: #FFFFFF;
  font-weight: 300;
  margin-top: 5px;
  font-size: 12px;
  font-family: Avenir-Light;
  opacity: 0.7;
}

.transaction-day {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 900;
}

.transaction-price {
  font-size: 14px;
  color: #CD2E71;
  font-weight: 900;
  font-family: Product;
}

.transaction-status {
  position: absolute;
  padding: 3px 35px 2px 35px;
  font-size: 14px;
  border-radius: 3px;
  right: 16px;
  bottom: 14px;
  color: #00FF47;
  background: #00ff483d;
}
/* End of Styling Profile Page */

/* Styling Detail Film */
.detail-film {
  display: flex;
  color: #FFFFFF;
  margin-top: 50px;
}

.detail-film-img, .detail-film-img img {
  width: 350px;
  height: 485px;
  border-radius: 8px;
}

.detail-film-img img {
  object-fit: cover;
  object-position: center;
}

.detail-film-data {
  margin-left: 30px;
}

.detail-film-title {
  display: flex;
  justify-content: space-between;
}

.detail-film-title h2 {
  font-weight: 900;
  font-size: 48px;
  font-family: Avenir-Bold;
}

.detail-film-video{
  display: flex;
  justify-content: center;
  margin: 35px 0;
}

.detail-film-category {
  color: #7E7E7E;
}

.detail-film-price {
  font-size: 18px;
  color: #CD2E71;
  font-family: Product;
  font-weight: 900;
  margin: 20px 0;
}

.detail-film-desc p {
  line-height: 38px;
}

.video-react-poster, .poster, .poster img {
  width: 870px;
  height: 350px;
}

.poster {
  position: relative;
}

.btn-play {
  position: absolute;
  top: 45%;
  left: 48%;
  padding: 10px 30px;
  border-radius: 0.3em;
  outline: none;
  border: 0.06666em solid #fff;
  background-color: rgba(115, 133, 159, 0.5);;
}

.btn-play:hover {
  background-color:  rgba(69, 82, 100, 0.5);
}

.play-icon {
  display: inherit;
  width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 15px solid #fff;
	border-bottom: 10px solid transparent;
}

/* End of Styling Detail Film */

/* Syling Data Transactions */
.table-transactions h3{
  color: #fff;
  font-weight: 900;
}

/* Styling table transations */
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  color: #E50914;
  background: #1F1F1F;
}

td {
  color: #fff;
  background-color: #2B2B2B;
}

th, td {
  text-align: left;
  padding: 20px 8px;
  border-bottom: 2px solid #C4C4C4;
}

tr:nth-child(even) {background-color: #f2f2f2;}

/* Styling Dropdown Actions */

.dropdown-action {
  position: relative !important;
}

.dropdown-action-menu {
  width: 200px;
  right: -16px !important;
  top: 35px !important;
  background: #0D0D0D;
}


/* Additional Style */

/*Scrollbar styling*/
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #CD2E71; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8b1144; 
}


.dropdown-toggle::after{
  display: none !important; 
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}